<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dokihfunction8.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b81c4582-b581-43c5-8f86-3b4cce46369c/resourceGroups/demoFunctionEDW-RG/providers/Microsoft.Web/sites/dokihfunction8</ResourceId>
    <UserName>$dokihfunction8</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://dokihfunction8.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <History>True|2024-05-13T14:42:52.9838298Z||;True|2024-05-13T16:12:44.2969571+02:00||;</History>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAbsP/enZc3UWg6TUUEsmYvgAAAAACAAAAAAAQZgAAAAEAACAAAABgYAO+vomDiRnQpon6Bm1SlCHnGq6heagbWfeF2oYeOgAAAAAOgAAAAAIAACAAAAB7Xgm5bScw8JBzckQLzMtZ6JL6gN2zxyxSW64HYg+NIIAAAAAFHzgHI4yWxrIZDDZ7aVl9jFS4G2ewgRCBwzLCsU5fuvlx7YU0dOfjGlSU+AVukS/SRnKKfEP14VOADQnQ25EucxYJW4ttyfN7MCX0bwjeOAwmNM+KIR8gSJWygNFkNc/Oj7+DeDyquElnFiYgx/aFaPLfefKLcT3dzbi8RGweqUAAAAC9GHsmUkhpqHRKRZRrLWfHc+vijsMgfuDk9Ai5rIjcp2ZkESVokJp6XrfcYN3bNh8/L2uolFHi46DCMy79OypR</EncryptedPassword>
    <EnvironmentSubType>AzureFunctionProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>